/*=================== Colors ===================*/
$color-1: #5F6F80;
$color-2: #715F81;
$color-3: #81715F;
$color-4: #70815F;
$color-5: #f1f1f1;
$color-6: #151515;

/*=================== Fonts ===================*/
$font-1: SansSerif, Arial, serif;
$font-2: SansSerif, Arial, serif;
$font-3: SansSerif, Arial, serif;

$font-size-1: 2em;
$font-size-2: 1.5em;
$font-size-3: 1em;

/*===================  ===================*/

/*===================  ===================*/